h1 {
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}
textarea {
    height: 40vh;
    flex: 2;
    font-size: 2em;
    margin: 1em;
    min-width: 30%;
}

.preview {
    flex: 2;
    margin: 1em;
    font-size: 2em;
}